@media (max-width: 320px) {

    body .row .info_contacto_sobreisil .wpb_content_element p strong img {
        max-width: 30px !important;
      }

    body .row .info_contacto_sobreisil .wpb_content_element p strong {
        font-size: 0.8rem;
      }
      
      body .row .info_contacto_sobreisil .wpb_content_element, body .row .info_contacto_sobreisil .wpb_content_element p {
        font-size: 0.7rem;
      }
      .detalle_pedido{
        margin-top: 0;
      }
      .header .logo img {
        width: 65px !important;
      }      
}
